.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
#root {
  height: 100vh;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main{
  width: 100%;
  height: 100%;
  display: inline;
  font-family: 'Roboto', sans-serif;
}
.sidebar{
  background-color: #1d4063;
  float: left;
  height: 100%;
}
.side-menu{
  color: white;
  list-style: none;
  /* margin-left: 4px; */
}
.side-list {
  padding-top: 10px;
}

.side-list li, h3{
  padding: 15px;
  /* padding-bottom: 15px; */
}
.li-div:hover{
  cursor: pointer;
}
.list:hover {
  background-color: gray;
}
.content{
  background-color: #e5e5e5;
  height: 100vh;
}
a {
  color: white;
  text-decoration: none;
}

li:hover{
  background-color: #ed7f21;
}
.order{
  display: grid;
  grid-template-columns: auto auto auto auto;
  /* background-color: #2196F3; */
  padding: 10px;
}
.order-div{
  background-color:  #d0211c;
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 5px;
 
  margin: 15px;
  display: inline;
  /* font-size: 30px;
  text-align: center; */
  
 } 
 .icon-div{
  float: left;
  height: auto;
  padding: 25px;
  color: white;
  /* padding-right: 10px; */
  background-color: rgb(109, 32, 32);
 }
 .text-div{
  padding: 20px;
  float: left;
  font-size: 30px;
  text-transform: uppercase;
  color: white;
  background-color: #d0211c;
 }
